body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

.texto-CSS {
    font-weight: bold;
    font-style: italic;
    color: #ff0000;
}

code {
        font-size: 16px; 
    }


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px 0;
}

main h2 {
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
